* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #303030;
}

.row__poster {
  width: 100%;
  object-fit: contain;
  max-height: 300px;
  margin-right: 5px;
  transition: transform 450ms;
}

.row__posters {
  display: flex;
  object-fit: contain;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.row__poster:hover {
  transform: scale(1.08);
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__postersLarge {
  max-height: 250px;
}

.row {
  color: white;
  margin-right: 20px;
  margin-top: 5rem;
}

.banner {
  background-image: url("poster fluch.jpg");
  background-size: cover;
  background-position: center center;
  color: white;
  object-fit: contain;
  height: 448px;
}

.banner__contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}

.banner__title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.nav__logo {
  width: 80px;
  object-fit: contain;
}

.nav__avatar {
  width: 30px;
  object-fit: contain;
}

.navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
  background-color: #111;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  max-width: 750px;
  margin: 50px auto;
}

.wrapper .search-input {
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.search-input input {
  height: 75px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 120px 0 20px;
  font-size: 25px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.search-input.active input {
  border-radius: 5px 5px 0 0;
}

.search-input .autocom-box {
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.search-input.active .autocom-box {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.autocom-box li {
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  font-size: 20px;
}

.search-input.active .autocom-box li {
  display: block;
}
.autocom-box li:hover {
  background: #efefef;
}

.search-input .mark {
  position: absolute;
  right: 60px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  color: #aba7a7;
  cursor: pointer;
}

.search-input .mark:hover {
  color: #2e2b2b;
}

.search-input .icon {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  color: #da2020;
  cursor: pointer;
}

.search-input .icon:hover {
  color: #8d0c0c;
}

.output {
  background-color: #303030;
  background-size: cover;
  background-position: center center;
  color: white;
  font-size: larger;
  object-fit: contain;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
}

.row__title {
  margin-left: 1rem;
}

.output ul,
ol {
  list-style-position: inside;
  font-size: 1em;
  margin: 0;
  padding: 0;
  list-style: none;
}

.output input{
  position: sticky;
  font-size: larger;
  padding: 2px 20px;
  left: 91%;
  border-radius: 3px;
  border: none;
  text-align: center;
  background-color: #d11313;
  color: white;
  
}

.output input:hover {
  background-color: #d11313;
  color: rgb(0, 0, 0);
}

.output li {
  line-height: 1.25;
  margin: 0 0 1.1em;
  color: #191919;
  padding: 0.8em;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.remove {
  position: fixed;
  margin-right: 10px;
  width: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f77070;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.output1 ul,
ol {
  list-style-position: inside;
  font-size: 1em;
  margin: 0;
  padding: 0;
}
.output1 li {
  line-height: 1.25;
  margin: 0 0 1.1em;
  color: #191919;
  padding: 0.8em;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
}

form input {
  padding: 15px 50px;
  margin: 10px 4px;
  margin-left: 40%;
  width: 200px;
  height: 50px;
  border: none;
  cursor: pointer;
  font-size: large;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  border-radius: 5px;
  background: #fff;
  font-weight: bolder;
  text-transform: unset;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

form input:hover {
  border: 2px solid #000000;
}

form button {
  padding: 15px 50px;
  margin: 10px 4px;
  width: 200px;
  height: 50px;
  border: none;
  cursor: pointer;
  font-size: large;
  color: #efefef;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  border-radius: 5px;
  background: #d11313;
  font-weight: bolder;
  text-transform: unset;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

form button:hover {
  border: 2px solid #000000;
}

.output1 {
  background-color: #303030;
  background-size: cover;
  background-position: center center;
  color: white;
  font-size: larger;
  object-fit: contain;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 300ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  margin-bottom: 2%;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 10px;
  right: 20px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #de1313;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}