<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Netflix</title>
    <link rel="stylesheet" href="static/styles.css" /> <!--adding styling in CSS-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> <!--adding the scale of the used device to show the HTML correctly-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" /> <!--adding styles for icons-->
  </head>

  <body>
    <!--adding navigation bar on top of the page for design-->
    <div class="navbar" id="nav">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Logonetflix.png/800px-Logonetflix.png?20170904093427" alt="" class="nav__logo" />
      <img src="https://upload.wikimedia.org/wikipedia/commons/0/0b/Netflix-avatar.png?20201013161117" alt="" class="nav__avatar" />
    </div>
    <!--adding banner for design-->
    <div class="banner">
      <div class="banner__contents">
        <h1 class="banner__title">Pirates of the Caribbean</h1>
      </div>
    </div>
    <!--creating popups for wrong user handling-->
    <div id="popup1" class="overlay">
      <div class="popup">
        <h2>Limit reached</h2>
        <a class="close" href="#">&times;</a>
        <div class="content">You are limited to 5 movies. Please submit or replace a selected movie.</div>
      </div>
    </div>

    <div id="popup2" class="overlay">
      <div class="popup">
        <h2>Not found</h2>
        <a class="close" href="#">&times;</a>
        <div class="content">Your selected movie is not provided in our database. Please select a different movie.</div>
      </div>
    </div>

    <div id="popup3" class="overlay">
      <div class="popup">
        <h2>Already Selected</h2>
        <a class="close" href="#">&times;</a>
        <div class="content">This movie is already in your selected Films. Please select a different Film.</div>
      </div>
    </div>

    <!--adding searchbar-->
    <div class="wrapper">
      <div class="search-input">
        <a href="" target="_blank" hidden></a>
        <input type="text" id="searchin" placeholder="Add your favorite movies..." />
        <div class="autocom-box"></div>
        <div class="mark">
          <i class="fas fa-times"></i> <!--x-icon in searchbar-->
        </div>
        <div class="icon">
          <i class="fas fa-plus"></i> <!--+-icon in searchbar-->
        </div>
      </div>
    </div>
    <!--adding selected movies list-->
    <div class="row">
      <h2 class="row__title">Selected movies</h2>
      <ul class="output" id="movies"></ul> <!--generated list for selected movies in JS-->
      <div id="view1"></div>
      <form>
        <input type="button" value="Submit" onclick="submitMovies()" />
        <button type="button" onclick="clear_all();">Clear all</button>
      </form>
    </div>
    <!--adding recommendation list-->
    <div id="view"></div>
    <div class="row">
      <h2 class="row__title">Movie Recommendations</h2>
      <ul class="output1" id="movies"></ul> <!--generated list for recommendations in JS-->
    </div>

    <script src="static/suggestions.js"></script> <!--implement movie title file for autocomplete box-->
    <script src="static/script.js"></script> <!-- implement java script file for functions-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> <!--create connection for datatransfer between server and browser-->
  </body>
</html>
